$font-family-sans-serif: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;

$border-radius: 8px;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

$utilities: map-merge(
    $utilities,
    (
        'width':
            map-merge(
                map-get($utilities, 'width'),
                (
                    responsive: true,
                )
            ),
    )
);

$font-size-xs: $font-size-base * 0.75;

$st-sidebar-width: 260px;

$border-radius-xl: 20px;

$transition-duration: 300ms;
$transition-duration-short: 250ms;
$transition-duration-long: 500ms;

$zindex-floating: 888;

$border-color: $gray-200;
$card-border-color: $gray-200;

$input-focus-shadow: 0 0 0 2px rgba($primary, 0.4);

$grid-gutter-width-mobile: 16px;
$grid-gutter-width-tablet: 24px;
$grid-gutter-width-desktop: 32px;
