.st-callout {
    padding: 16px;
    border-width: 1px 1px 1px 4px;
    border-color: $border-color;
    border-style: solid;
    margin-bottom: 24px;
    background: $light;
}

@each $color, $value in $theme-colors {
    .st-callout--#{$color} {
        background-color: lighten($value, 45%);
        border-color: lighten($value, 45%);
        border-left-color: $value;
    }
}
